# Copy this to .env and fill in your values
# Never commit .env to git!

REDIS_HOST=redis
REDIS_PORT=6379

# Docker Hub (for CI/CD)
DOCKERHUB_USERNAME=your_dockerhub_username
DOCKERHUB_TOKEN=your_dockerhub_token

# AWS (for Terraform)
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key

# Grafana
GF_SECURITY_ADMIN_PASSWORD=admin123
